.text-table td, th{border:1px solid #888;border-collapse:collapse;margin:0 auto;padding:4px 10px;}
/*.table-fish thead tr{/*display: block; *//*position: relative;}*/
.table-fish tbody {
    /*display: block;*/
    overflow: auto;
    /*width: 100%;*/
}
.table-fish tr:nth-child(even) {
    background-color:#eee;
}
.userdownloads th{border:none;}
.spaced{margin-top:15px}
.scrollable{overflow-y:scroll;max-height:525px}
.col-4{width:25%;min-width:215px;}
.col-6{width:40%;}
.col-6{min-width:280px;}
h2 span{font-size:14px;}
.navbar-brand
{
    background:url('../images/bg-images/blue-icon.jpg')no-repeat 10px 4px;
    padding-left:60px;
    }
.my-account.navbar-brand{padding-left:60px}    
body{margin-top:140px;}
body.myaccount{margin-top:0;}
.attached-nav{padding-top:10px;}
@media (min-width:768px){
.navbar-fixed-top.container{width:720px}
.centered{margin:0 auto;width:500px;}
}
@media (min-width:988px){
.navbar-fixed-top.container{width:940px}
}
@media (min-width:1188px){
.navbar-fixed-top.container{width:1140px}
}
.newclass{width:200px;}
.noteclass{width:500px;}
.btn-xs{margin-top:-4px;}
.myaccount input.btn{margin-right:10px;}
.centered{margin:0 auto;width:700px;}
.modified{display:none;}
.footer{text-align:center;}
div.scrollable-container{position: relative;margin:90px auto 0;width:880px;}
div.scrolling-area{height: 400px;overflow: auto;}
table.table-fish thead tr {left: 0; top: -38px;position: absolute;border-top: solid 2px #ddd;}
table.table-fish .names{width:227px;}
table.table-fish .main-icons{width:175px;}
table.table-fish .silhouettes{width:105px;}
table.table-fish .outlines{width:100px;}
table.table-fish .actions{width:160px;}
table.table-fish th div.names{width:229px;}
table.table-fish th div.main-icons{width:177px;}
table.table-fish th div.silhouettes{width:106px;}
table.table-fish th div.outlines{width:101px;}
table.table-fish th div.actions{width:180px;}

