body{   
    background-image:url('/images/bg-images/dbase-bg-tile.jpg');
    background-repeat:repeat;
}
h5{font-size:16px;}
table{
    margin:30px auto;
    border:1px solid #222;
    border-collapse:separate;
}
table tr th{padding:10px;padding-left:10px}
table tr td{
    line-height:30px;
    padding-left:10px;
}
table tr td:nth-child(n+2){
    padding-left:20px;
}
table tr td:last-child{
    padding-right:10px;
}
.table-summary{text-align:right;}
table.cart{background-color:#fff;}
.cart {
    margin: 0 auto;
    width:550px;
}
.about {
    margin: 0 auto;
    width:950px;
}
.cartstriper{
    margin:50px auto;
    border:solid 1px #222;
    width:550px;
    padding:20px;
    background-color:#fff}
/*.cart table{
    background-color:#fff;
}*/
.caption{
    float:right;
}
.julie{
    color:#4288CE;
}
.merri{
    font-family: "Merriweather";
    letter-spacing:-0.025em;
}
.fixed-menu{
    position:fixed;
    top:24px;
    left:40px;
    width:240px;
}
.info-main-section{
    margin-left:300px;
    max-width:620px;
    overflow-x: none;
    padding-top:20px;
}
.smiley{font-size:20px;line-height:16px;}
.fixed-menu li{list-style-type: none;}
.red-error{color:#f00;} 
    
.cr{clear:right;}
.table-summary em{font-size:11px;}
.stripe-fieldset{padding:10px 10px 0px 10px;border:1px solid #444;border-radius: 10px}
.btn-xxs{
  padding: 1px 2px;
  font-size: 9px;
  border-radius: 3px;
}

.btn-custom-danger { background-color: hsl(0, 62%, 28%) !important;
 background-repeat: repeat-x; 
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d24040", endColorstr="#731b1b"); 
 background-image: -khtml-gradient(linear, left top, left bottom, from(#d24040), to(#731b1b)); 
 background-image: -moz-linear-gradient(top, #d24040, #731b1b); 
 background-image: -ms-linear-gradient(top, #d24040, #731b1b); 
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d24040), color-stop(100%, #731b1b)); 
 background-image: -webkit-linear-gradient(top, #d24040, #731b1b); background-image: -o-linear-gradient(top, #d24040, #731b1b); 
 background-image: linear-gradient(#d24040, #731b1b); 
 border-color: #731b1b #731b1b hsl(0, 62%, 21.5%); 
 color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42); 
 -webkit-font-smoothing: antialiased;}
 
.btn-custom-info { background-color: hsl(194, 60%, 20%) !important; 
 background-repeat: repeat-x; 
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e9abb", endColorstr="#144351"); 
 background-image: -khtml-gradient(linear, left top, left bottom, from(#2e9abb), to(#144351)); 
 background-image: -moz-linear-gradient(top, #2e9abb, #144351); 
 background-image: -ms-linear-gradient(top, #2e9abb, #144351); 
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e9abb), color-stop(100%, #144351)); 
 background-image: -webkit-linear-gradient(top, #2e9abb, #144351); 
 background-image: -o-linear-gradient(top, #2e9abb, #144351); 
 background-image: linear-gradient(#2e9abb, #144351); 
 border-color: #144351 #144351 hsl(194, 60%, 13.5%); 
 color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42); 
 -webkit-font-smoothing: antialiased; } 

.btn-custom-warning{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fecc8a+0,fba93d+100 */
 background-repeat: repeat-x; 
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e9abb", endColorstr="#144351"); 
 background-image: -khtml-gradient(linear, left top, left bottom, from(#2e9abb), to(#fba93d)); 
 background-image: -moz-linear-gradient(top, #fecc8a, #fba93d); 
 background-image: -ms-linear-gradient(top, #fecc8a, #fba93d); 
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, ##fecc8a), color-stop(100%, #fba93d)); 
 background-image: -webkit-linear-gradient(top, ##fecc8a, #fba93d); 
 background-image: -o-linear-gradient(top, #fecc8a, #fba93d); 
 background-image: linear-gradient(##fecc8a, #fba93d); 
 border-color: #fba93d #fba93d hsl(194, 60%, 85%); 
 color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15); 
 -webkit-font-smoothing: antialiased;}
 