body{
    background-repeat:repeat;
  /*overflow-y:scroll;*/
    background-attachment: fixed;
    background-image:url('/images/bg-images/dbase-bg-tile.jpg');
    color:#333;
    margin:0 auto;
    height:100%;
    //font-family:"Trykker",'Garamond',serif;
    font-family:Tahoma, Geneva, Verdana,sans-serif;
}
body:before { 
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 200;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.6);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.6);
  box-shadow: 0px 0px 8px rgba(0,0,0,..6);
}
body.colouring:before{
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a:hover{text-decoration:none}
a, a:hover, a:active, a:focus{outline:0;}
.fish-table .links a{text-decoration: underline;}
/*body {
    margin: 0;
    padding: 0;
    background: url('/images/bg-images/dbase-bg-tile.jpg') repeat;
}
*/
/*body:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.3) 100%);
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);
} */
.left-edge{position:absolute;margin-left:105px;margin-top:20px;width:60px;height:97.5%;background:url("/images/bg-images/edgefish.png")repeat-y;}
.right-edge{position:absolute;margin-left:1190px;margin-top:20px;width:60px;height:97.5%;background:url("/images/bg-images/edgefish.png")repeat-y;}
.shading-container{position:absolute;
    display:inline-block;
        
    
    /*background-image:url('../images/bg-images/shading-line.png');
    background-repeat:repeat-y;*/
    background-image:url('../images/bg-images/shading5.png');
    background-size:100%;
    top:0;
    bottom:0;
    /*background: -moz-gradient(linear, left-top, left-bottom, rgba 0,0,0,1, rgba(0,0,0,0,));*/
    
 
   /*width:1358px;*/
    /*overflow-x: scroll;*/
    z-index :1000;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 4px;
  min-width: 188px;
  text-align:left;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size:12px;
  line-height: 1.3em;
  border-radius: 3px;
  box-shadow: inset -1px -1px 2px 1px rgba(128,128,192,0.4) ;
  margin-bottom:8px;
}
.btn-default:hover,.btn-default:focus{
    background-color:#fff;
    background-position: 1px 8px;
}
.btn-xs,
 .btn-group-xs > .btn{padding-right:3px; }
.logo p{
    background-image:url("/images/bg-images/jc-logo.png");
    display:block;
    height:180px;
    width:180px;
    margin-top:17px
}
.blue,  .alpha-search.blue a{color: #112789 }
.segoe{
    font:normal 12px  "SegoePrint" ,sans-serif;
    /*font-family: "Trebuchet MS" ,sans-serif;
    //font-family:"segoe UI" ,Helvetica ;
    //font-family:"ComicNeue-Oblique" ,Helvetica ;
    //font-family:Arial,Helvetica,sans-serif;
    //font-family:'Handlee', cursive;
    //font-family:'Overlock',sans-serif;
    //font-style:italic;*/
    -webkit-font-style:normal;
    
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome, if Chrome rule needed */
    /*.segoe {font-style:italic;}*/
    /* Safari 5+ ONLY */
    ::i-block-chrome, .segoe {font-style:normal;}
}
.segoe h1 {font-size:42px}
.segoe h2 {font:normal 42px/42px "SegoePrint" ,sans-serif;}
.segoe h3 {margin-top:-0px;font:normal 24px/24px "SegoePrint" ,sans-serif;}
.fish-icons{
    background-image:url("/images/bg-images/fish-icons-title.png");
    background-repeat:no-repeat;
    background-position:0px 15px;
    display:inline-block;
    height:95px;
    margin-bottom:15px;
}
.samples{background-color:#C8CEFC;border:solid 2px #222;}
.left{margin-left:-5px;}
.grey-icon img{border:solid 1px #ccc; box-shadow:1px 1px 3px 1px #ddd;}
.grey-icon1{margin-top:10px}
.grey-icon2{margin-top:20px}
.grey-icon3{margin-top:30px;margin-left:-16px}
.grey-icon4{margin-top:40px;margin-left:-36px}
.top-box{
    border:1px solid #003388;
    margin-top:10px;
    margin-bottom:0px;
    padding:0 6px;
    background-color:#fff;
}
.top-box h5{font-weight:700;}
.top-box h3,p{margin-top:6px}
.left-para{font-size:12px;line-height: 16px;margin-top:-35px}
.left-para p span{font: normal 18px/15px arial;}
.left-para p{margin-bottom:3px;}
.intro {font:700 14px/18px Tahoma;margin-left:0px;}
.intro span,.contact span{font-weight:400;}
.note {font:italic 700 10px/12px Tahoma;max-width:310px;margin-top:0px;text-align:center;}
.how-works{font:400 12px/14px Tahoma; margin-top:10px;margin-left:-5px}
.contact{font:700 12px/14px Tahoma; margin-top:10px;margin-left:0px}
.double-box{border:double 5px #003388;}
p.double-box {padding:5px;}
/*.second-box{border:3px solid #003388;padding:0 6px;margin:0px 20px 30px 10px;background-color:#fff}*/
.second-box{
    border:3px solid #003388;padding:0 6px;margin:15px 20px 0px 5px;
    /*background:url('/images/bg-images/credit-me.jpg');*/
    display:inline-block;height:156px;
}
.second-box p{line-height:1.2em;letter-spacing:0px;-webkit-margin-bottom:10px;/*font-style:italic;*/}
.second-box span{font-style:normal;}

.third-box{margin-left:-10px;margin-top:0px;}
.third-box span{font-size:22px;}
.third-box h4{margin-left:13px; margin-top:25px; }
.third-box img{border:solid 1px #222;box-shadow:1px 1px 1px 1px #ccc; margin:-50px 0 0 -10px;}
.test-fish.one img{border:solid 1px #222;box-shadow:1px 1px 1px 1px #ccc;margin-left:8px;margin-top:10px;}
.test-fish img{border:solid 1px #222;box-shadow:1px 1px 1px 1px #ccc;margin-left:0px;margin-top:10px;}
.test-fish p{margin-left:26px;font-size:10px; margin-top:0px }
.test-fish.two p{margin-left:16px;}
.fourth-box{border:2px dashed #003388;padding: 5px;font: 700 12px tahoma;min-width:165px;}
.fifth-box{border:1px dotted #003388;background-color:#fff;padding: 5px;font: 400 12px tahoma;min-width:165px;}
.search-area{text-align:center;}
.search-area h4{margin:5px auto 5px;}
.search-strip{border:1px solid #003388;background-color:#fff;width:316px;margin-left:10px;}
.note p{font-size:12px;margin-top:30px;width:300px}
.second-row{margin-top:-20px}
.third{margin-top:-30px;margin-bottom:-10px}
.third-row{transform:translateY(-15px);}
.fourth{margin-top:-15px;}
.cart{position:relative;margin:10px 0 0px 0;transform:translateY(15px);}
h4 {font-size:16px;}
.search-area h4 a{
    margin:-2px;
    letter-spacing:-1px; 
}
.search-area h5{margin-top:3px;margin-bottom:3px;}  
h4.search-strip{padding-bottom:6px;padding-top:4px;margin-bottom:4px;letter-spacing:2px;}
.search-area h4 a.lastchild{margin-right:1px}
.searchbox{height:24px;}
.magnifier{
    background:url("/images/bg-images/magnifying16.png")1px 8px no-repeat;
    min-width:16px;line-height:36px;margin-top:4px;margin-left:24px;
    background-color:#fff;
}
.magnifier.btn{border-radius:0px;border:1px solid #bbb}
.form-group{margin:0px;}
.form-group input::-webkit-input-placeholder {
    color: #444;
    font-style: italic;
    /*text-transform: uppercase;*/
}
.form-group input::-moz-placeholder {
    color: #444;
    font-style: italic;
}
.form-group input:-moz-placeholder {   /* Older versions of Firefox */
    color: #444;
    font-style: italic;
}
.form-group input:-ms-input-placeholder { 
    color: #444;
    font-style: italic;
}
.alpha-search a:link{text-decoration: none;font-size:16px;}
.container{width:770px;margin: 10px 0 10px 375px;height:20px}
.scrolling{overflow-y:scroll;height:450px;z-index:50}

ul{display:list-item;list-style-type: none;}
.side-menu ul li {width:120px;margin-top:6px}

.side-menu{
    margin-top:12px;
}
.side-menu ul li a.btn{width:110px;text-align:left;}
.side-menu ul li:first-child {margin-top:5px;}
.side-menu ul{margin-left:-1px;}
.footer{margin-top:80px}
/*GROW*/

.grow img{
  /*height: 300px;*/
 float:right;
 margin:5px 5px 0 5px;
  width: 100px;
  border:2px solid #f00;
  z-index:1000;
  -webkit-transition: all 0s ease;
     -moz-transition: all 0s ease;
       -o-transition: all 0s ease;
      -ms-transition: all 0s ease;
          transition: all 0.0s ease;
          transition-delay:0.0s;
}

.grow img:hover {
  width: 220px;
    margin-right:-115px;
    margin-top:-162px;
 z-index:1000;
 position:relative; 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 0.5s ease;
          transition-delay:0.5s;
}

.preview{
    display:inline-block;
    width: 80%;
    margin-bottom:30px;
}
.preview.fish-name{margin-top:75px}
.preview img { 
    position:relative;
    border:3px solid #44f;
    border-radius:3px;
    
}
.hover-to-display{
    position:absolute;
    background-image:url("/images/bg-images/question.png");
    background-position-y:-2px;
    width:18px;
    height:19px;
    color:#fff;
    overflow:hidden;
    text-decoration:none;
}
.hover-to-display:hover{
    position:absolute;
    width:200px;
    height:100px;
    top:150px;
    left:200px;
    color:#222;
    font:normal 12px/24px Tahoma;
    background-image:none;
    background-color:#fff;
    border:solid 1px #66c;
    border-radius:6px;
    z-index:100;
    padding:8px;
}

