p{margin-left:0;margin-right:0;}
h4.segoe{font:bold 18px/18px 'SegoePrint';color:#222;margin:5px;}
p.segoe{font:normal 14px/16px 'SegoePrint';color:#222;margin:0px 5px 5px 5px;} 
p.segoe.colouring{
    font:normal 13px/15px 'SegoePrint';color:#222;margin:0px 5px 5px 5px;
    margin-left:325px;margin-top:155px;
}
.centered{
    text-align:center;
}
.bordered{
    border:dashed 2px #666;
}
.pushdown{
    margin-top:20px;
}
.lowered{
    margin-top:50px;
}
.raised{
    margin-top:-85px;
    margin-bottom:110px;
}
.quantity{width:30px;margin-left:0px;margin-top:4px; height:24px;}
label.label{font:normal 12px Arial, Helvetica, sans-serif;color:#222;padding: 0.2em 0 0.3em;}
.form-addfish{margin-top:5px;}
.image-column{margin-left:-10px;}
.form-control{padding:5px 5px;}
.opaque{opacity:0.4;}
.body.btn{disabled:true;}
/*.text-description{width:295px;margin-left:35px}*/
#cssmenu {
   /* margin-left:-10px;
    margin-right:10px;*/
   margin-top:0px;
}

#cssmenu ul li a{
    width:200px;
    font:normal 18px/27px  "Merriweather" ,serif;
}
#cssmenu #colouringcart .cart h5{font:normal 12px/12px Arial sans-serif}
.jchomelogo{
    background-image:url("/images/bg-images/juliet-corley-illustrator.png");
    display:inline-block;
    background-size:288px 180px;
    background-repeat:no-repeat;
    height:187px;
    margin-left:-28px;
    margin-right:28px;
}
.jcshoplogo{
    background-image:url("/images/bg-images/juliet-corley-shop.png");
    display:inline-block;
    background-size:264px 170px;
    background-repeat:no-repeat;
    height:170px;
    margin-left:-21px;
    margin-right:21px;
    margin-bottom:80px;
}
.jccolouringlogo{
    background-image:url("/images/bg-images/juliet-corley-colouring-page.png");
    display:inline-block;
    background-size:203px 170px;
    background-repeat:no-repeat;
    height:170px;
    margin-left:-21px;
    margin-right:21px;
    margin-bottom:80px;
}
.one-off{background-image:url("/images/bg-images/shop-uc1.jpg");
    display:inline-block;
    background-size:291px 236px;
    background-repeat:no-repeat;
    height:236px;
    margin-left:-10px;
    margin-top:-10px;
}
p.cone-notice{margin-top:-6px;}
.colouringimage{
    background:url("/images/bg-images/colouring.png") no-repeat 0px 0px;
    width:724px;
    height:525px;
    margin-top:-58px;
    z-index:50;
    position:relative;
}
.colouringimage p{margin-left:320px;margin-top:150px;}
.cone-notice{
    font:normal 24px/38px "Merriweather" ,serif;
    color:#333;
    text-align:center;
    background:url("/images/bg-images/traffic-cone.png") no-repeat 0px 20px;
    margin-left:-12px;
    margin-right:-18px;
}
.babyfoot{
    background:url("/images/bg-images/babyfoot3.jpg") no-repeat;
    margin-left:15px;
    margin-top:12px;
    height:93px;
}
.grid-11.cart{margin-top:0px;margin-bottom:15px;}
.emptycart{margin-left:-20px;}
.container-24{
    margin-top:58px;
}
.marine{
    font:normal 22px/24px  "SegoePrint" ,sans-serif;
    font-weight:400;
    margin-top:-6px;
    display:inline-block;
    color:#010066;
}
p.heading{
    font:normal 19px/24px  "SegoePrint" ,sans-serif;
    font-weight:400;
    display:inline-block;
    color:#333;
}
.shells{
    background-image:url("/images/bg-images/shells.jpg");
    height:85px;
    margin-top:-6px;
    /*margin-left:-22px;*/
    background-repeat:no-repeat;
}
.image-strip{
    background-image:url("/images/bg-images/image-strip.jpg");
    height:76px;
    background-size:288px 74px;
    background-repeat:no-repeat;
    margin-top:9px;
    margin-left:-18px;
}
.pageimagelink{
    height:175px;
    /*opacity:0.7;*/
    background-repeat:no-repeat;
}
.postcards{
    background-image:url("/images/bg-images/pc-puc.jpg");
}
.illustration{
    background-image:url("/images/bg-images/is-puc.jpg");
    margin-top:30px;
    width:360px;
}
.science{
    background-image:url("/images/bg-images/marine-science.jpg");
    margin-top:30px;
}
.payment-link{
    margin-left:-12px;
    margin-right:12px;
    margin-top:-10px;
}
.payment-link a{
    font: italic 15px/16px "Merriweather" ,sans-serif;
    color:#81007f;
    height:60px;
    width:140px;
}
.mpa{
    font:normal 12px  "Merriweather" ,sans-serif;
    letter-spacing:-.4px;
    color:#003;
    margin-left:0px;
}
.game{
    background-image:url("/images/bg-images/mpa.jpg");
    height:78px;
    background-size:106px 81px;
    margin-top:10px;
}
/*.omega.paint{width:150px;
}*/
li.final a span{
    font-style:italic;
    color:#81007f;
    
}
.paint.paint{
    margin-left:12px;
    margin-right:-12px;
}
.shading-container{position:relative;display:inline-block;
    margin:0 auto;    
    height:985px;
    /*background-image:url('../images/bg-images/shading-line.png');
    background-repeat:repeat-y;*/
    background-image:url('../images/bg-images/shading-juliet-corley-1.png');
    background-size:100%;
    /*background: -moz-gradient(linear, left-top, left-bottom, rgba 0,0,0,1, rgba(0,0,0,0,));*/
    
 
   /*width:1358px;*/
    /*overflow-x: scroll;*/
    z-index :500;
}
.arrow{
    background-image:url("/images/bg-images/arrow.png");
    background-size:60px 20px;
    background-repeat: no-repeat;
    background-position: 244px 30px;
    width:320px;
    padding-right:50px;
}
a.underline{
    text-decoration:underline;
}
a.underline.blues{
    color:#23527c;
}
a:hover.underline.blues{
    color:#337ab7;
}
_::-moz-svg-foreign-content, :root .mpa,.game  { /*safari 5.1 - 6.0 chrome 10 - 24*/
    margin-right:-4px;
}  
.zazzle{
    margin-left:-20px;
}
p.zazzle{text-align:center;margin-left:-45px;}
